div#side-container {
    width: 20px;
    height: 100%;
    float: left;
    background-color: #b6cff8;
}

div#wrapper {
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
}

div#main-container {
	height: 100%;
	background-color: #f4e6e6;
}

div#main-name {
    font-size: 25pt;
    padding: 10pt;
    background-color: #349ec2;
    box-shadow: 0px 2px 19px #888888;
}

div#main-slogan {
    font-size: 14pt;
}

div#main-intro {
    padding: 15pt;
    max-width: 500px;
}

span.intro {
    display: block;
    margin-bottom: 6pt;
    font-size: 14pt;
}


/* BOT */
#sk-header{ 
	background-color: red!important;
}