<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    <style>
    #sk-header{ background-color: red!important;}
    </style>
</head>
<body>
    <div id="side-container">
        <!--a href=""></a-->
    </div>
    <div id="main-container">
        <div id="main-name">Adrian Cabrera</div>
        <div id="main-slogan">Thriving for an impact that matters</div>
        <div id="main-intro">
            <span class="intro">Hi there,</span>
            <span class="intro">My name is Adrian Cabrera, I am a consultant at The Boston Consulting group and I am currently applying for a MBA at one of the most prestigious school in the world.</span>
            <span class="intro">I am unfortunately very busy at the moment between my numerous client calls, kitesurfing lessons, and TED talks watching. Therefore, I suggest you have a little chat with my assistant Amanda to know me a bit better. She is quite new to the job, so she might have some issues understanding you from time to time. I hope she will be able to provide you with all the information you need! Otherwise, I would be happy to tell you more during an interview.</span>
            <span class="intro">Happy chatting!</span>
            <span class="intro">Sincerly yours,</span>
            <span class="intro">Adrian</span>
        </div>
    </div>
</body>
</html>
