<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    <script>
        function addParagraph(input,callback){
        	$('#main-intro').append('<span id="' + input.id + '" class="intro ' + input.class + '"/>');
            var dv = $('#' + input.id);
            var inputtext = input.text;
            dv.text("");
            jQuery({
                count: 0
            }).animate({
                count: inputtext.length
            }, {
                duration: input.speed,
                easing: 'linear',
                step: function () {
                    dv.text(inputtext.substring(0, Math.round(this.count)));
                },
                complete: function(){
                    if(callback != null){
                        callback();
                    }
                }
            });
        }
        
        var doctext = [
            { id:"intro-1", speed: 1000, text: "Hi there,", class: ""},
            { id:"intro-2", speed: 8000, text: "My name is Adrian Cabrera, I am a consultant at The Boston Consulting group and I am currently applying for a MBA at one of the most prestigious school in the world.", class: ""},
            { id:"intro-3", speed: 10000, text: "I am unfortunately very busy at the moment between my numerous client calls, kitesurfing lessons, and TED talks watching. Therefore, I suggest you have a little chat with my assistant Amanda to know me a bit better. She is quite new to the job, so she might have some issues understanding you from time to time. I hope she will be able to provide you with all the information you need! Otherwise, I would be happy to tell you more during an interview.", class: ""},
            { id:"intro-4", speed: 1000, text: "Happy chatting!", class: ""},
            { id:"intro-5", speed: 1000, text: "Sincerly yours,", class: ""},
            { id:"intro-6", speed: 1000, text: "Adrian", class: ""}
        ];
        
        $(function() {
            setTimeout(function(){
                addParagraphs(0);
            },1000);
        }); 
        
        function addParagraphs(index){
            if(index < doctext.length - 1){
                addParagraph(doctext[index],function(){
                    index = index + 1;
                    addParagraphs(index)  
                })    
            }else{
                addParagraph(doctext[index],function(){
                    setTimeout(function(){
                        jQuery('#sk-header').click()
                    },2000)
                })
            }
        }
    </script>
    
    <style>
        div#sk-settings-handle {
            display: none!important;
        }
        
        div.sk-action {
            width: auto!important;
        }
        
        button.btn.btn-sk-primary {
            width: 100%!important;
        }
        
        #main-name {
            font-family: sans-serif;
            border-bottom: solid 3px white;
            color: white;
            font-weight: lighter;
        }
        
        #main-container {
            background: url(http://assets.worldwildlife.org/photos/2325/images/hero_full/mountains-hero.jpg?1345838509) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 100%;
        	background-color: #f4e6e6;
        }
        
        #intro-name {
            font-weight: bold;
            text-align: center;
            font-size: 18pt;
            margin-top: 10pt;
        }
        
        #intro-img-container {
            background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSeIC4nH3Nz10Cx9pJI8nCgrgomNNVkIKDSboOTLgD2TiyFQe4FpdWisjAYHA) no-repeat;
            border-radius: 50%;
            width: 130px;
            height: 140px;
            display: block;
            background-size: 100%;
            border: solid 1px black;
            margin: 0 auto;
            float: center;
        }
    
        div#side-container {
            width: 20px;
            height: 100%;
            float: left;
            background-color: #b6cff8;
        }
        
        div#wrapper {
            margin: 0px;
            width: 100%;
            height: 100%;
        }
        
        body {
            margin: 0px;
        }
        
        div#main-name {
            font-size: 25pt;
            padding: 10pt;
            background-color: #349ec2;
            box-shadow: 0px 2px 19px #888888;
        }
        
        div#main-slogan {
            font-size: 14pt;
        }
        
        div#main-intro {
            margin-left: 46pt;
            margin-top: 46pt;
            padding: 15pt;
            width: 35%;
            background-color: white;
            border-radius: 13pt;
        }
        
        .intro {
            display: block;
            font-size: 17pt;
            margin-bottom: 20pt;
            font-family: sans-serif;
        }
        
        /* BOT */
        #sk-header{ 
        	background-color: #54b0ff!important;
        }
    </style>
</head>
<body>
  <div id="wrapper" class="">
    <div id="main-container">
        <div id="main-name">
            <span>Adrian Cabrera</span>
        </div>
        <div id="main-intro">
            <div id="intro-img-container"></div>
            <div id="intro-name" class="intro">Adrian Cabrera</div>
        </div>
    </div>
    </div>
</body>
</html>
