<html>
<head>
    <title>Adrian Cabrera</title>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    <script>
        function addParagraph(input,callback){
        	$('#main-intro').append('<span id="' + input.id + '" class="intro ' + input.class + '"/>');
            var dv = $('#' + input.id);
            var inputtext = input.text;
            dv.text("");
            jQuery({
                count: 0
            }).animate({
                count: inputtext.length
            }, {
                duration: input.speed,
                easing: 'linear',
                step: function () {
                    dv.text(inputtext.substring(0, Math.round(this.count)));
                },
                complete: function(){
                    if(callback != null){
                        callback();
                    }
                }
            });
        }
        
        var doctext = [
            { id:"intro-1", speed: 1000, text: "Hello! ", class: ""},
            { id:"intro-2", speed: 2500, text: "Thank you for your interest in getting to know me better.   ", class: ""},
            { id:"intro-3", speed: 2500, text: "I have trained Charlie to provide interesting facts about me.   ", class: ""},
            { id:"intro-4", speed: 1500, text: "Just say Hello to him!   ", class: ""}
        ];
        
        $(function() {
            setTimeout(function(){
                addParagraphs(0);
            },1000);
        }); 
        
        function addParagraphs(index){
            if(index < doctext.length - 1){
                addParagraph(doctext[index],function(){
                    index = index + 1;
                    addParagraphs(index)  
                })    
            }else{
                addParagraph(doctext[index],function(){
                    setTimeout(function(){
                        jQuery('#sk-header').click()
                    },1500)
                })
            }
        }
    </script>
    
    <style>
        #main-name {
            font-family: sans-serif;
            border-bottom: solid 3px white;
            color: white;
            font-weight: lighter;
        }
        
        #main-container {
            height: 100%;
        }
        
        body {
            background: url(https://raw.githubusercontent.com/adidibmx/EstherBot/master/img/Background-img.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        	background-color: #f4e6e6;
        }
        
        #intro-name {
            font-weight: bold;
            text-align: center;
            font-size: 18pt;
            margin-top: 10pt;
        }
        
        #intro-img-container {
            background: url(https://raw.githubusercontent.com/adidibmx/EstherBot/master/img/Adrian_profile.jpg) no-repeat;
            border-radius: 50%;
            width: 130px;
            height: 160px;
            display: block;
            background-size: 100%;
            border: solid 1px black;
            margin: 0 auto;
            float: center;
        }
    
        div#side-container {
            width: 20px;
            height: 100%;
            float: left;
            background-color: #b6cff8;
        }
        
        div#wrapper {
            margin: 0px;
            width: 100%;
            height: 100%;
        }
        
        body {
            margin: 0px;
        }
        
        div#main-name {
            font-size: 32pt;
            padding: 12pt;
        }
        
        div#main-slogan {
            font-size: 14pt;
        }
        
        div#main-intro {
            margin-left: 46pt;
            margin-top: 46pt;
            padding: 15pt;
            width: 40%;
            min-width: 500px;
            background-color: rgba(255, 255, 255, 0.83);
            border-radius: 13pt;
            border: solid 1px #333333;
            box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.42);
        }
        
        .intro {
            display: block;
            font-size: 15pt;
            margin-bottom: 15pt;
            font-family: sans-serif,arial;
        }
        
        .header-logos {
            float: right;
            cursor: pointer;
            width: 35px;
            height: 50px;
            padding-right: 18pt;
            background-size: cover;
        }
        
        div#logo-email {
            background: url(https://raw.githubusercontent.com/adidibmx/EstherBot/master/img/Message-50.png) no-repeat;
        }
        
        
        div#logo-cv {
            background: url(https://raw.githubusercontent.com/adidibmx/EstherBot/master/img/Resume-50.png) no-repeat;
            width: 14px;
            height: 40px;
            background-size: cover;
            margin-top: 4px;
        }
        
        div#logo-linkedin {
            background: url(https://raw.githubusercontent.com/adidibmx/EstherBot/master/img/LinkedIn-50.png) no-repeat;
            width: 14px;
            height: 38px;
            margin-top: 5px;
            background-size: cover;
            margin-left: 10px;
        }
        
        /* BOT */
        #sk-header{ 
        	background-color: #54b0ff!important;
        }
        
        #sk-holder #sk-container #sk-conversation .sk-row.sk-left-row .sk-msg-wrapper .sk-msg, #sk-holder #sk-container #sk-conversation .sk-row.sk-left-row .sk-msg-wrapper .sk-msg-image {
            max-width: 260px!important;
        }
        
        #sk-holder #sk-container #sk-wrapper {
            width: 510px!important;
        }
        
        div#sk-settings-handle {
            display: none!important;
        }
        
        div.sk-action {
            width: auto!important;
        }
        
        button.btn.btn-sk-primary {
            width: 100%!important;
        }
        
        label.btn.btn-sk-link.image-upload {
            display: none!important;
        }
        
        #sk-holder #sk-container #sk-footer .input-container {
            padding-left: 10px!important;
        }
        
        .app-icon, .sk-msg-avatar {
            border: solid #b2b2b2 1px!important;
        }
    </style>
</head>
<body>
  <div id="wrapper" class="">
    <div id="main-container">
        <div id="main-name">
            <span id="main-name-title">Adrian Cabrera</span>
        	<a href="https://www.linkedin.com/in/adriancabrera1" target="_blank">
                <div class="header-logos" id="logo-linkedin" title="LinkedIn"></div>
            </a>
            <a href="https://raw.githubusercontent.com/adidibmx/EstherBot/master/img/CV-Cabrera-2016-Website.pdf" target="_blank">
              <div class="header-logos" id="logo-cv" title="CV"></div>
            </a>
            <a href="mailto:cabrera.adrian@me.com?Subject=Contact%20from%20Adrian%27s%20website" target="_top">
                <div class="header-logos" id="logo-email" title="Email"></div>
            </a>
        </div>
        <div id="main-intro">
            <div id="intro-img-container"></div>
            <div id="intro-name" class="intro">Adrian Cabrera</div>
        </div>
    </div>
    </div>
</body>
</html>
