<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    <style>
    #sk-header{ background-color: red!important;}
    </style>
</head>
<body>
    <h2>SmoochBot Demo 2</h2>
</body>
</html>
